@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
  --bc-color-bg-primary: #222;
  --bc-color-bg-secondary: #000;
  --bc-color-text-primary: #000;
  --bc-color-text-secondary: #808080;
}

[data-theme='dark'] .theme-2 {
  --bc-color-primary: #21ecc7;
  --bc-color-secondary: #21ecc7;
  --bc-color-tertiary: unset;
  --bc-color-bg-primary: black;
  --bc-color-bg-secondary: black;
  --bc-color-text-primary: black;
  --bc-color-text-secondary: #f4f4f4;
  --bc-color-text-tertiary: white;
}

.theme-0 {
  --bc-color-primary: #2ea7ff;
  --bc-color-secondary: #0045b1;
}
.theme-1 {
  --bc-color-primary: #fada5e;
  --bc-color-secondary: #fada5e;
  --bc-color-bg-primary: #000;
  --bc-color-bg-secondary: #000;
  --bc-color-text-primary: black;
  --bc-color-text-secondary: rgb(245 245 245);
  --bc-color-text-tertiary: white;
}
.theme-2 {
  --bc-color-tertiary: #21ecc7;
  --bc-color-primary: #10caa8;
  --bc-color-secondary: #10caa8;
  --bc-color-bg-primary: white;
  --bc-color-bg-secondary: black;
  --bc-color-text-primary: black;
  --bc-color-text-secondary: #1a202c;
  --bc-color-text-tertiary: white;
}

.theme-3 {
  --bc-color-primary: #ffc837;
  --bc-color-secondary: #ff8008;
  --bc-color-bg-primary: black;
  --bc-color-bg-secondary: black;
  --bc-color-text-primary: black;
  --bc-color-text-secondary: #ca9;
}
